html, body {
    background-color: rgb(88, 88, 88);
    height: 100%;
}
  
body {
    margin: 0;
    display: flex;

    /* This centers our sketch horizontally. */
    justify-content: center;

    /* This centers our sketch vertically. */
    align-items: center;

}

canvas {
    border-style: solid;
}

.sidebar {
    background-color: rgba(31, 22, 24, 0.445);
    box-shadow: 0px 0px 10px rgba(20, 20, 20, 0.7);
    color: #fff;
    position: absolute;
    right: 100px;
    top: 70px;
    width: 10%;
    height: 50vs;
    padding: 5px;
    z-index: 1000;
}

.sidebar ul {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    list-style-type: none;
    padding: 5%;
    margin: 0;
    height: 100%;
}

.sidebar ul li {
    padding: 5px 0;
}

.sidebar input,
.sidebar button {
    text-align: center;
    width: 50px;
}

.sidebar #weight {
    width: 120px;
}

.sidebar li:last-of-type {
    margin-top: auto;
}

.sidebar button {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 20px;
}

.sidebar label {
    display: block;
    font-size: 12px;
    margin-bottom: 3px;
}